// -----------------------------------------------
// COLOR SCHEME ----------------------------------
// -----------------------------------------------
// Dark ------------------------------------------
$c-dark-400: #2C2C2C;
$c-dark-600: #242424;
$c-dark-900: #1D1D1D;

// Lignt -----------------------------------------
$c-light-100: #f5f5f5;

// Deep Purple -----------------------------------
$c-deepPurple-200: #B39DDB;

// -----------------------------------------------
// Z-INDEX SCHEME --------------------------------
// -----------------------------------------------
$z-lvl-0: 0;
$z-lvl-1: 1;

// -----------------------------------------------
// MEDIA QUERIES SCHEME --------------------------
// -----------------------------------------------
$mq-xs: 'screen and (min-width: 480px)';
$mq-sm: 'screen and (min-width: 576px)';
$mq-md: 'screen and (min-width: 768px)';
$mq-lg: 'screen and (min-width: 992px)';
$mq-xl: 'screen and (min-width: 1200px)';